<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443853504804-t9m16v4pfgu8ullajp16jk686j1u94b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443853504804-t9m16v4pfgu8ullajp16jk686j1u94b7</string>
	<key>API_KEY</key>
	<string>AIzaSyDjC32eW34RAhcZRH2QyzEBGcmREiYZGBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443853504804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.travisbrigman.StreamingMusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-da4c5</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-da4c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443853504804:ios:2e2f52d75cf86fd08af3b1</string>
</dict>
</plist>